<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configuration</comment>
<entry key="0#DatabasePort">3306</entry>
<entry key="0#DatabaseName">glasses</entry>
<entry key="0#DatabasePrefix">test_</entry>
<entry key="0#DatabaseUsername">root</entry>
<entry key="0#DatabaseType">MySQL</entry>
<entry key="0#DatabaseLocation">localhost</entry>
<entry key="0#DatabasePassword">Schleimer1</entry>
</properties>
